{% extends 'layout/base_template.html' %}

{% block content %}
    <style>
        div.inner_div {
            overflow: auto;
            background-color: RGB(255, 255, 255);
            border: 2px solid RGB(220, 220, 220);
            border-radius: 5px;
            padding: 10px;
        }

        #users_block {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 150px;
            height: 675px;
        }

        #messages_block {
            position: absolute;
            top: 10px;
            left: 195px;
            width: 590px;
            height: 610px;
        }

        #sender_block {
            position: absolute;
            top: 655px;
            left: 195px;
            width: 590px;
            height: 29px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        a:hover, a:visited {
            color: black;
        }

        p.user_block {
            border: 1px solid RGB(230, 230, 230);
            background-color: RGB(240, 240, 240);
            border-radius: 3px;
            padding: 10px;
        }

        p.message_block {
            border: 1px solid RGB(230, 230, 230);
            background-color: RGB(240, 240, 240);
            border-radius: 3px;
            padding: 5px;
            margin: 10px;
        }

        input {
            border: 1px solid RGB(180, 180, 180);
            border-radius: 2px;
        }
    </style>

    {% if user.is_authenticated %}
        <div class="basic_block" style="height: 700px; position: relative;">

            <div id="users_block" class="inner_div">
                {% for element in user_list %}
                    <p class="user_block">
                        <a href="javascript: show({{ element.pk }})">
                            {% if element.first_name or element.last_name %}
                                {{ element.get_full_name }}
                            {% else %}
                                {{ element.username }}
                            {% endif %}
                        </a>
                    </p>
                {% endfor %}
            </div>

            <div id="messages_block" class="inner_div">
                Здесь будут выводиться сообщения
            </div>

            <div id="sender_block" class="inner_div">
                <input type="text" size="60" name="message_text">
                <button id="send_button">Отправить</button>
            </div>

        </div>
    {% endif %}

    <script>
        function show(receiver_id) {
            let sender_id = {{ user.pk }};
            let url = `/chat/messages/?user=${sender_id}&user=${receiver_id}`;
            $.ajax(url, {
                method: 'GET',
            }).done(function (data) {
                let tag_content = "";
                for(let msg of data){
                    tag_content += "<p class=\"message_block\">";
                    tag_content += "<b>" + msg.dt.slice(0, 10) + " " + msg.dt.slice(11, 16) + "</b><br>";
                    tag_content += "<b>" + msg.sender_name + "</b><br>";
                    tag_content += msg.text;
                    tag_content += "</p>";
                }
                let messagesBlock = document.getElementById('messages_block');
                messagesBlock.innerHTML = tag_content
            }).fail(function (data) {
                alert(`Не удалось получить список сообщений...\n${data.status} ${data.responseJSON.detail}`)
            })
        }
    </script>
{% endblock %}