{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>PyChat</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% block header %}
    <div class="basic_block" style="height: 1em">
        <div style="float: left; display: inline-block; vertical-align: center"><b>PyChat</b></div>
        {% if user.is_authenticated %}
            <div style="float: right; display: inline-block; vertical-align: center">
                {% if user.first_name or user.last_name %}
                    {{ user.get_full_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
                (<a href="{% url 'logout' %}">выйти</a>)
            </div>
        {% else %}
            <div style="float: right; display: inline-block; vertical-align: center">
                <a href="{% url 'login' %}">Войти</a>
            </div>
        {% endif %}
    </div>
{% endblock header %}

{% block content %}
{% endblock content %}

</body>
</html>